.copy-btn {
  display: none;
  position: absolute;
  z-index: 2;
  transition: ease-in 0.2;
}

.code-block:hover .copy-btn {
  display: block;
}

.code-description {
  line-height: 36px;
}
.code-description span {
  line-height: 36px;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 2px;
  color: rgb(20, 20, 20);
  background-color: #ebebeb;
}

.shrunkNav {
  z-index: 2;
}

.main-nav {
  font-size: 18px;
  z-index: 2;
}

.output-example {
  padding: 12px;
  border-radius: 4px;
}

.content-footer {
  height: 200px
}